name: Project Reports

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        cd project-reports
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run Project Reports
      run: |
        cd project-reports
        python main.py -u $GITHUB_ACTOR -p ${{ secrets.GITHUB_TOKEN }} -d -s
        python main.py --cfg all.cfg -u $GITHUB_ACTOR -p ${{ secrets.GITHUB_TOKEN }} -d -s
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.3.1
      with:
        # Artifact name
        name: project-reports
        # A file, directory or wildcard pattern that describes what to upload
        path: project-reports/html/*
